In [1]:
# import dependencies and Google API key
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as linregress
import requests
import gmaps
import os
from config import g_key

In [2]:
april_df = pd.read_csv("uber-raw-data-apr14.csv")
april_df.head()

          Date/Time      Lat      Lon    Base
0  4/1/2014 0:11:00  40.7690 -73.9549  B02512
1  4/1/2014 0:17:00  40.7267 -74.0345  B02512
2  4/1/2014 0:21:00  40.7316 -73.9873  B02512
3  4/1/2014 0:28:00  40.7588 -73.9776  B02512
4  4/1/2014 0:33:00  40.7594 -73.9722  B02512

In [5]:
# empty lat / lng lists
#lat = []
#lng = []
fig = gmaps.figure()
gmaps.configure(api_key = g_key)

# drop NA values
april_df = april_df.dropna()

# set up variables
locations = april_df[["Lat", "Lon"]].astype(float)

# create heatmap layer
heat_layer = gmaps.heatmap_layer(locations, dissipating = False, max_intensity = 20, point_radius = .0005)

fig.add_layer(heat_layer)

# display map
fig

Figure(layout=FigureLayout(height='420px'))